<!DOCTYPE html>
<html>

<head>

    <title>Health Prediction App</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <h1>Health Prediction Application</h1>

    <a href="/add">Add Patient</a>

    <br><br>

    <table border="1">

        <tr>

            <th>Name</th>
            <th>DOB</th>
            <th>Email</th>
            <th>Glucose</th>
            <th>Haemoglobin</th>
            <th>Cholesterol</th>
            <th>Remarks</th>
            <th>Actions</th>

        </tr>

        {% for patient in patients %}

        <tr>

            <td>{{ patient.fullname }}</td>
            <td>{{ patient.dob }}</td>
            <td>{{ patient.email }}</td>
            <td>{{ patient.glucose }}</td>
            <td>{{ patient.haemoglobin }}</td>
            <td>{{ patient.cholesterol }}</td>
            <td>{{ patient.remarks }}</td>

            <td>

                <a href="/edit/{{ patient.id }}">Edit</a>

                <a href="/delete/{{ patient.id }}">Delete</a>

            </td>

        </tr>

        {% endfor %}

    </table>

</body>
</html>